.products
  {container}
  grid 'min-content 1fr' '1fr' '15px'

.scroll
  overflow-x auto
  width 100vw
  margin-left calc((100% - 100vw) / 2)

.inner
  display flex
  height 100%
  box-sizing border-box
  padding-left 20px

.product
  flex 0 0 90%
  box-sizing border-box
  padding-right 20px
