@import 'normalize.css'

html
  display flex
  flex-direction column
  min-height 100%
  -webkit-text-size-adjust 100%

body
  {default-font}
  line-height 1.3
  flex 1 1 100%
  display flex
  flex-direction column
  padding 0
  margin 0

:global
  #root
    flex 1 1 100%
    display flex
    flex-direction column

a
  color inherit
  text-decoration none
