color-font = #FFFFFF
primary-color = #FC8132
primary-color-dark = #E6742B
secondary-color = #90C859
secondary-color-dark = #7AAF45

font-size-default = 16px
font-size-s = 14px
font-size-m = 20px
font-size-l = 24px

min-width = 315px
