.product
  grid 'min-content 1fr min-content' '1fr' '15px'
  background rgba(52, 115, 187, 0.8)
  border 2px solid rgba(131, 195, 255, 0.35)
  box-shadow 0 0 12px rgba(0, 0, 0, 0.32), inset 0px 0px 4px rgba(0, 0, 0, 0.28)
  border-radius 40px
  height 100%
  box-sizing border-box
  padding 20px

.title
  font-size font-size-l
  font-weight 700
  text-align center

.image
  align-self center
  justify-self center
