.field
  {default-font}
  font-size 14px
  width 100%
  height 40px
  border 0
  outline 0
  color #908F8F
  border-radius 30px
  box-sizing border-box
  padding 0 20px

  &::placeholder
    color #908F8F
    opacity 1

.center
  text-align center

  &::placeholder
    text-align center

.error::placeholder
  color #FF3D3D

.isWide
  padding 0

.isTransparent
  background-color rgba(255, 255, 255, 0.6)
  font-weight 700
