.tariff
  grid 'repeat(2, min-content) 1fr repeat(4, min-content)' '1fr' '15px'
  background #DBBEB0
  border-radius 30px
  color #000000
  height 100%
  box-sizing border-box
  padding 20px

.superTariff
  background-image url('./super.svg')
  background-position center
  background-repeat no-repeat

.title
  font-size 28px
  font-weight 700
  margin-bottom -15px

.month
  font-size font-size-m
  font-weight 700

.description
  font-size font-size-s
  font-weight 700
  align-self end

.price
  font-size 28px
  font-weight 700
