.checkbox
  display flex
  align-items center
  column-gap 10px
  font-size font-size-s
  font-weight 700

  & > input
    position fixed
    left -99999
    visibility hidden

    &:checked + .check
      background-repeat no-repeat
      background-position center
      background-color secondary-color
      background-image url('./check.svg')

.check
  display block
  width: 40px
  height: 40px
  border-radius 50%
  background-color #FFFFFF
