.register
  {container}
  flex 1 1 100%
  grid 'min-content 1fr min-content' '1fr' '15px'
  align-items center

  +landscape()
    max-width min-width

.field
  & + .field
    margin-top 15px

.childFields
  grid '1fr' '1fr 80px min-content' '15px'

  & + .childFields
    margin-top 15px
