.forgotPassword
  {container}
  grid 'min-content 1fr min-content' '1fr' '15px'
  align-items center

  +landscape()
    grid 'repeat(3, min-content)' '1fr' '15px'
    align-content center
    max-width min-width
