.app
  flex 1 1 100%
  display flex
  flex-direction column
  align-items center
  justify-content center
  background linear-gradient(56.84deg, rgba(6, 26, 98, 0.8) 24.79%, rgba(70, 4, 122, 0.8) 89.87%)
  height 100%
  padding 0 20px
