.payPalButton
  display flex
  align-items start
  background #FFFEF0
  border 1px solid #FFFEF0
  border-radius 8px
  width 100%
  min-width 280px
  max-width 460px
  box-sizing border-box
  height 77px
  padding 16px

  +landscape()
    height 84px
    padding 20px 24px

.icon
  margin-right 8px

.title
  font-family 'Factor IO', Helvetica, Arial, sans-serif
  font-weight 500
  font-size 16px
  color #0F1838
  margin-top 2px
