.tariffs
  {container}
  flex 1 1 100%
  grid 'min-content 1fr' '1fr' '15px'

.scroll
  overflow-x auto
  width 100vw
  scrollbar-width none
  margin-left -20px
  margin-right -20px

  &::-webkit-scrollbar
    display none

.inner
  display flex
  height 100%
  box-sizing border-box
  padding-left 20px

  &.isOne
    padding-left 20px

    .tariff
      flex-basis 100%

.tariff
  flex 0 0 90%
  box-sizing border-box
  padding-right 20px
